</div> <!--leftnav.thml .col-md-10 -->
</div> <!-- main box -->
</div> <!-- admincontainer--> 

<!-- footer -->
<style type="text/css">
  #ft {
    /*border-top: 1px dashed #DDDDDD;
    color: #999999;
    margin: 40px 0 20px;*/
    /*overflow: hidden;*/
    /*padding-bottom: 6px;*/
    margin-left: 20px; 
    margin-right: 20px;
  }

</style>

<div id="ft">
  <span class="fleft gray-link" id="icp">
      &copy; 2005－2013 <%=settings.title%>, all rights reserved
  </span>
  <span class="pull-right">
      <a href="http://www.douban.com/about">关于<%=settings.title%></a>
      · <a href="/">网站</a>
      · <a href="http://www.douban.com/help/">帮助中心</a>
  </span>
</div>

</body>
</html>