<%- include ./header-nav.html %>

<script type="text/javascript">
  $.get('/admin/serverstatus?idx=' + Math.random(),{},function(data,testStatus){
    $("#serverstatus").html(data);
  });
</script>

<!-- body -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">用户情况</div>
        <div class="panel-body">
          
        </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">今天登录情况</div>
      <div class="panel-body">
          
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">服务器性能情况</div>
        <div class="panel-body">
          <div id="serverstatus"> </div>
          
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">今天登录情况</div>
      <div class="panel-body">
          
      </div>
    </div>
  </div>
</div>


<%- include ./footer-nav.html %>