<%- include ./header.html %>

<script type="text/javascript">
  $(function(){
    $("form").validation();

    $("button[type='submit']").on('click',function(event){
      if ($("form").valid()==false){
        $("#error-text").text("填写信息不完整。")
        return false;
      };
      if($("#pw1").val() != $("#pw2").val()){
        $("#error-text").text("新密码与确认密码不一致。")
        return false;
      }
      //
    });
  })
</script>

<style type="text/css">
  form{
    padding-top: 20px;
  }
 
</style>


<form class="form-horizontal"  action="/chagpass" role="form" method="post">
  <fieldset>
  <legend class="pull-right">修改密码</legend>
  <div class="row">
    <div class="col-md-8">
   
      <div class="form-group">
        <label for="pw1" class="col-sm-2 control-label">原来密码</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="pw" name='pass' check-type="required" minlength="6">
        </div>
      </div>

      <div class="form-group">
        <label for="pw2" class="col-sm-2 control-label">新密码</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="pw1" name='pass1' check-type="required" minlength="6">
        </div>
      </div>  

      <div class="form-group">
        <label for="pw2" class="col-sm-2 control-label">确认新密码</label>
        <div class="col-sm-6">
          <input type="password" class="form-control" id="pw2" check-type="required" minlength="6">
        </div>
      </div>  


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary col-sm-4 ">修改密码</button>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <span id="error-text" style="color: #FF0000;"></span>
        </div>
      </div>

    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <h4>如何使密码更安全？</h4>
        <p>1.使用标点符号、数字和大小写字母的组合作为密码。</p>
        <p>2.密码中勿包含个人信息（如姓名、生日等）。</p>
        <p>3.不使用和其他网站相同的密码。</p>
        <p>4.定期修改密码。</p>
      </div> 
    </div>
  </div>
</fieldset>
</form>


<%- include ./footer.html %>