	
<!-- footer -->
  <style type="text/css">
    #ft {
      border-top: 1px dashed #DDDDDD;
      color: #999999;
      margin: 40px 0 20px;
      overflow: hidden;
      padding-top: 6px;
    }

  </style>
   <div id="ft">
    <span class="fleft gray-link" id="icp">
      &copy; 2005－2013 <%=settings.title%>, all rights reserved
    </span>
    <span class="pull-right">
      <a href="http://www.douban.com/about">关于<%=settings.title%></a>
      · <a href="http://www.douban.com/about?topic=contactus">联系我们</a>
      · <a href="http://www.douban.com/about?policy=disclaimer">免责声明</a>
      · <a href="http://www.douban.com/help/">帮助中心</a>
      · <a href="/admin/home">管理中心</a>
    </span>
  </div>
  <div>
    <a href="#manager">客服联系方式：</a>
  </div> 
<!-- end footer -->

</div> <!-- main box -->
</div> <!-- container--> 
</body>
</html>