<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <script type="text/javascript">
    function myclick(){
      var username = <%- mrlong %>; 
      alert(username);
    }

  </script>

  <body>