<%- include header.html %>
</div></div>
<% if (user==null) { %>
  <div style="background-color:#D9EDF7" >
    <div class="container" style="padding-top: 8px; padding-bottom: 8px;">  
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <a href="/reguser">免费注册</a> <strong>加入我们</strong>发现工作更简单。
    </div>  
  </div>
<% } %>

<div class="container">
<div class="main box">

<!-- 轮流播放 -->
<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="active item">
      <img src="/img/banner/1.jpg" alt="" >
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>

    <div class="item">
      <img src="/img/banner/2.jpg" alt="">
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div> 

    <div class="item">
      <img src="/img/banner/3.jpg" alt="">
      <div class="carousel-caption">
        <h4>First Thumbnail label</h4>
        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      </div>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<!-- 内容了 -->
<div class="page-header">
<h1>与从不同<small>与市上的系统有什么不同。</small><h1>
  <iframe src="http://fast.wistia.net/embed/iframe/g1d312lbg8" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="940" height="534"></iframe>
</div>


	
<%- include footer.html %>