body {
  padding-top: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
  color: #333333;
  font-size: 14px;
  line-height: 20px;
}
a {
  color: #00b7ff;
}

.container{
  width: 960px;
}
.carousel-inner img{
  width: 960px;
  height: 500px;
}

/*设字体色*/
.fontred{
  color:#FF0000;
}
.fontblue{
  color:#6633FF;
}

/*网站左上角的标题*/
.navbar-title
{
  margin-left: 0px;
  color:#0088CC;
  font-size:20px;
  padding-left: 10px; 
  padding-right: 5px;
}

/*工具条高度*/
.navbar{
  height: 49px;
}

/*表单左边的说明内容*/
form .alert h5{
  font-size:18px;
}

form .alert p{
  font-size:12px;
}
.panel .panel-footer .alert-info h5{
  font-size:18px;
}
.panel .panel-footer .alert-info p{
  font-size:12px;
}

/*设行的禁用color*/
.stopfont{
  color:red;
}
