<%- include ../../header-nav.html %>
<script type="text/javascript">
  $(function(){
    $("#updatefrm").validation();
    $("#addfrm").validation();

    $(".updatebotton").on('click',function(){
      var code = $(this).attr('code');
      $("#myModal").attr('code',code);
      <%for(var i=0;i<product.modules.length;i++){%>
        if ('<%=product.modules[i].code%>'==code){
          $("#name").val('<%=product.modules[i].name%>');
          $("#sort").val('<%=product.modules[i].sort%>');
          $("#stop").prop('checked',<%=product.modules[i].stop%>);
        }
      <%}%>
      $("#myModal").modal('show');
    });

    $("#saveupdate").on('click',function(){
      if ($("#updatefrm").valid()==false){
        $(this).msgbox("填写信息不完整。",false);
        return false;
      };

      var pcode = '<%=product.code%>';
      var code = $('#myModal').attr('code');
      var name = $('#name').val();
      var sort = $('#sort').val();
      var stop = $('#stop').prop('checked'); 

      $.post('/admin/fina/product/module/edit',{pcode:pcode,code:code,name:name,sort:sort,stop:stop},function(data,textStatus){
        if(textStatus=='success' && data.success==true){
          $('.panel-body').msgbox(data.msg,function(){
              document.location.reload();
            });
        }
        else{
           $('.panel-body').msgbox(data?data.msg:'提交到服务器出现异常出错。',false);
        };
        $('#myModal').modal('hide');
      });
    });

    // 增加模块
    //
    $("#saveadd").on('click',function(){
      if ($("#addfrm").valid()==false){
        $(this).msgbox("填写信息不完整。",false);
        return false;
      };

      var pcode = '<%=product.code%>';
      var code = $('#addcode').val();
      var name = $('#addname').val();
      var sort = $('#addsort').val();

      $.post('/admin/fina/product/module/add',{pcode:pcode,code:code,name:name,sort:sort},function(data,textStatus){
        if(textStatus=='success' && data.success==true){
          $('.panel-body').msgbox(data.msg,function(){
              document.location.reload();
            });
        }
        else{
          $('.panel-body').msgbox(data?data.msg:'提交到服务器出现异常出错。',false);
        }
      });
      $('#addModal').modal('hide');
    });

  });
</script>

<ol class="breadcrumb">
  <li><a href="/admin/fina">财务</a></li>
  <li><a href="/admin/fina/product">产品</a></li>
  <li class="active">模块</li>
</ol>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">产品编号：<%=product.code%> 产品名称：<%=product.name%></div>
  <div class="panel-body">
    <p>模块编号唯一，在修改时要注意。</p>
    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus"></span>增加模块</button>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
    <th>编号</th>
    <th>名称</th>
    <th>排号</th>
    <th>禁用</th>
    <th>操作</th>
    </tr>
  </thead>
  <tbody>
  
  <% for(var i=0;i<product.modules.length;i++){%>
    <tr <%if(product.modules[i].stop==true){%>class="stopfont"<%}%>>
    <td><%=product.modules[i].code%></td>
    <td><%=product.modules[i].name%></td>
    <td><%=product.modules[i].sort%></td>
    <td><%=product.modules[i].stop%></td>
    <td><a href="#" class="updatebotton" code="<%=product.modules[i].code%>">修改</a></td>
    </tr>
  <%}%>
  </tbody>
  </table>
</div>

<!-- Modal 修改 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">修改</h4>
      </div>
      <div class="modal-body">
        <form id="updatefrm" class="form-horizontal">
          <div class="form-group">
            <label for="pw1" class="col-sm-3 control-label">名称</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="name"  check-type="required">
            </div>
          </div>

          <div class="form-group">
            <label for="pw1" class="col-sm-3 control-label">排号</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="sort" check-type="required number">
            </div>
          </div>
          
          <div class="checkbox">
            <label class="col-sm-offset-3 col-sm-6">
              <input type="checkbox"  id="stop" >禁用
            </label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default col-sm-offset-6 col-md-2" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary col-md-3" id="saveupdate">保存修改</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modal 增加 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">增加模块</h4>
      </div>
      <div class="modal-body">
        <form id="addfrm" class="form-horizontal">
          <div class="form-group">
            <label for="pw1" class="col-sm-3 control-label">编号</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="addcode" check-type="required">
            </div>
          </div>

          <div class="form-group">
            <label for="pw1" class="col-sm-3 control-label">名称</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="addname"  check-type="required">
            </div>
          </div>

          <div class="form-group">
            <label for="pw1" class="col-sm-3 control-label">排号</label>
            <div class="col-sm-6">
              <input type="text" class="form-control" id="addsort" check-type="required number">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default col-sm-offset-6 col-md-2" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary col-md-3  " id="saveadd">保存</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<%- include ../../footer-nav.html %>