<%- include ../header.html %>
<script type="text/javascript">
  $(function(){
    $(".list-group li.selected").removeClass('selected');
    $("#nav-vip a[href='" + <%=locals.path%> +"']").parent().addClass('selected');
  });
</script>

<style type="text/css">
  ul li a{color:#666}
  ul li.selected a {color:#00f}
  ul li a:hover{color:#999;background-color:#FFF;}
  .panel ul li {padding-left:8px;}
</style>

<div class="row" style="padding-top: 20px;">
<div class="col-md-2" style="padding-right: 0px; padding-left: 0px;">
  <div class="panel panel-info">
    <div class="panel-heading"><a href="/vip"><span class="glyphicon glyphicon-home"></span>用户中心</a></div>
    <!-- <div class="panel-body">
    </div> -->
    <ul class="list-group" id="nav-vip">
      <li class="list-group-item"><a href="/vip/inbox"><span class="badge pull-right ">42</span><span class="glyphicon glyphicon-volume-up"></span>站内留言</a></li>
      <li class="list-group-item selected"><a href="/vip/chagpass"><span class="glyphicon glyphicon-star"></span> 修改密码</a></li>
      <li class="list-group-item"><a href="/vip/profile"><span class="glyphicon glyphicon-pencil"></span> 修改个人资料</a></li>
      <li class="list-group-item"><a href="/vip/usericon"><span class="glyphicon glyphicon-picture"></span> 更换头像</a></li>
    </ul>
  </div>
</div>
<div class="col-md-10">

