<%- include ../header.html %>

<script type="text/javascript">
  $(function(){
    // 
  })
</script>
<style type="text/css">
  #homeimg{
    width: 100px; 
    height: 100px;
  }
</style>
<p>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading"><%=locals.user.name%></div>
        <div class="panel-body">
          <div class="row">
          <div class="col-md-3">
            <!-- /img/no_head.png -->
            <img src="/vip/getusericon" alt="..." class="img-rounded" id="homeimg">
            <small><a href="/vip/usericon">替换头像</a></small>
          </div>
          <div class="col-md-9">  
          <p>注册QQ：<%=locals.user.qq%></p>
          <p>注册日期：<%=locals.user.regdate2%></p>
          <p>积分：<span class="badge"><%=locals.user.point%></span> 登录次数:<span class="badge"><%=locals.user.logincount%></span></p>
          <p>最后登录日期:<%=locals.user.lastlogin2%></p>
          </div>
          </div>
        </div>

    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">操作功能</div>
      <div class="panel-body" style="height: 150px;">
        <a href="/vip/chagpass">修改密码</a>
        <a href="/vip/profile">修改个人资料</a>
        <a href="/vip/inbox">站内信息
          <% if(msgcount>0){ %>
            <span class="badge pull-right "><%=msgcount%></span>
          <%}%>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">关注内容</div>
  <div class="panel-body">
    //关注的内容？
  </div>
</div>




<%- include ../footer.html %>