<%- include ../header.html %>

<style type="text/css">
  form{
    padding-top: 20px;
  }
  #form_save,#btn_saves,#imguser {
    display:none
  }
  #imguser {display:none1;}
</style>

<script type="text/javascript">
  var jcrop_api; 
  $(function(){
    
    $("#flieupload").on('click',function(){
      var data = new FormData();  
      var files = $('#file')[0].files;  
      if (files.length>0){  
        data.append('codecsv',files[0]);  
      }
      else{
        alert('请选择上传的文件。');
        return false;
      };

      $.ajax({cache: false,  
              type: 'post',  
              dataType: 'json',  
              url:'/vip/upload_usericon',                    
              data : data,  
              contentType: false,  
              processData: false,  
              success:function(data,textStatus){ 
                if (data.success==true){
                  $("#imguser").attr('width',data.width);
                  $("#imguser").attr('heigth',data.height);
                  $("#imguser").attr('src',data.img+"?r="+Math.random());
                  $("#imguser").attr('path',data.imgpath);
                  $('#imguser').show()
                  $("#imguser").ready(function(){
                    initJcrop(data);
                  });
                  $("#btn_saves").show();
                  $("#flieupload").hide();
                }
                else{
                  alert(data.msg);
                };
              },
              error:function(){
                alert('上传出错');
              }  
      }); 
    });
    
    //区域保存
    $("#btn_save_region").on('click',function(){
      if($("#img_width").val()==0 || $("#img_height").val()==0)
      {
        alert('没有选择的区域。');
        return false;
      };

      $.post('/vip/save_usericonregion',{
        imgpath:$("#imguser").attr('path'),
        left:$("#img_left").val(),
        top:$("#img_top").val(),
        width:$("#img_width").val(),
        height:$("#img_height").val()},function(data,textStatus){
          if(textStatus=='success'){
            alert(data.msg);
          }
          else{
            alert('保存失败');
          }
        });
    });

    //保存全域
    $("#btn_save_all").on('click',function(){
      $.post('/vip/save_usericon',{imgpath:$("#imguser").attr('path')},function(data,textStatus){
        if(textStatus=='success'){
          alert(data.msg);
        }
        else{
          alert('保存失败');
        }
      });
    });

  });

  function initJcrop(data){
    if (jcrop_api){
      jcrop_api.setImage(data.img);
      jcrop_api.setOptions({ bgOpacity: .6 });
      jcrop_api.setSelect([10, 10, 210, 210 ]);
      return false;
    }
    else{
      $('#imguser').Jcrop({
        setSelect: [ 10, 10, 210, 210 ],
        aspectRatio: 1,
        onChange: showCoords,
        onSelect: showCoords
        },function(){jcrop_api=this;});
    };
  };

  function showCoords(c){
    $('#img_left').val(c.x);
    $('#img_top').val(c.y);
    $('#img_width').val(c.w);
    $('#img_height').val(c.h);
    $("#range").text('x:' + c.x + 'y:'+c.y+'w:'+c.w + 'h:'+c.h);
  };

</script>

<form >
  <fieldset>
  <legend class="pull-right">更换头像</legend>
  <div class="row">
    <div class="col-md-8">
        <table width='100%' border="0">
          <tr>
          <th width='80'>图片文件：</th>   
          <td><input type='file' name='files' id='file' size='30'/></td>
          <td><input type="button" class="btn btn-primary" id="flieupload" value='上传'/></td>
          </tr>
        </table>

      <img id="imguser" class="img-responsive" style='display:none;'>
      <p>
      <div class="form-group">
        <div id="btn_saves" >
          <input type='hidden' id='img_left' name='left' value='10'/>
          <input type='hidden' id='img_top' name='top' value='10'/>
          <input type='hidden' id='img_width' name='width' value='200'/>
          <input type='hidden' id='img_height' name='height' value='200'/>
          <input type='button' value='保存选中区域' id='btn_save_region' class='btn btn-primary'/>
          <input type='button' value='保存全图' id='btn_save_all' class='btn btn-primary'/> 选择“保存全图”头像可能会变形
          <label id="range"></label>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="alert alert-info">
        <h4>如何更换头像？</h4>
        <p>第1步：选择图片文件，尽量选择jpg,gif,png格式，大小不要太大。</p>
        <p>第2步：点［上传］按钮，下方会显示你选择的图片。</p>
        <p>第3步：图片的左下方有两个按钮：［保存选中区域］及［保存全图］。</p>
        <p>第4步：根据你的需要点［保存选中区域］或［保存全图］。</p>
      </div> 
    </div>
  </fieldset>
</form>

<!-- <form id='form_save' action="/action/user/save_portrait" >
  <input type='hidden' id='img_left' name='left' value='0'/>
  <input type='hidden' id='img_top' name='top' value='0'/>
  <input type='hidden' id='img_width' name='width' value='0'/>
  <input type='hidden' id='img_height' name='height' value='0'/>
</form> -->


<script type="text/javascript" src="/js/jquery.Jcrop.min.js" ></script>
<link rel='stylesheet' href='/css/jquery.Jcrop.min.css'/>
<%- include ../footer.html %>