<%- include ../header-nav.html %>

<!-- body -->
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
        <div class="panel-heading">做模块信息</div>
        <div class="panel-body">
                  
        </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">功能操作</div>
      <div class="panel-body">
        <a href="/admin/fina/product">产品维护</a>     
      </div>
    </div>
  </div>
</div>


<%- include ../footer-nav.html %>