<%- include ../header-nav.html %>
<!-- 左边菜单 -->
<div class="col-md-2" style="padding-right: 0px; padding-left: 0px;">

  <div class="panel panel-info">
    <div class="panel-heading">
      <h6 class="panel-title">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#nav-accordion" href="#nav-panel-4">
          <i class="icon-fixed-width icon-laptop"></i>财务管理
        </a>
      </h6>
    </div>

    <div id="nav-panel-4" class="list-group panel-collapse collapse in">
      <a href="/admin/fina/product" class="list-group-item active">
        <i class="icon-fixed-width icon-laptop"></i>产品维护
      </a>
      <a href="/host/hostgroup/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Host Group
      </a>
      <a href="/host/maintainlog/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Maintain Log
      </a>
      <a href="/host/idc/" class="list-group-item">
        <i class="icon-fixed-width icon-cloud"></i>
        IDC
      </a>
      <a href="/host/accessrecord/" class="list-group-item">
        <i class="icon-fixed-width icon-exclamation-sign"></i>
        Access Record
      </a>
      
    </div>
  </div>
</div>
<div class="col-md-10">