<%- include ../header-nav.html %>
<script type="text/javascript">
  
</script>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Panel heading</div>
  <div class="panel-body">
    <p>...</p>
  </div>

  <table class="table table-hover">
  <thead>
    <tr>
    <th>编号</th>
    <th>名称</th>
    <th>排号</th>
    <th>操作</th>
    </tr>
  </thead>
  <tbody>
  
  <% for(var i=0;i<products.length;i++){%>
    <tr>
    <td><%=products[i].code%></td>
    <td><%=products[i].name%></td>
    <td></td>
    <td><a href="#">修改</a>|<a href="/admin/fina/product/<%=products[i].code%>">模块</a></td>
    </tr>
  <%}%>
  </tbody>
  </table>
</div>
<%- include ../footer-nav.html %>